BanqueService/WebContent/wsdl/Banque.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://banqueService.psw.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://banqueService.psw.uge.fr" xmlns:intf="http://banqueService.psw.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://banqueService.psw.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="depotDe">
    <complexType>
     <sequence>
      <element name="montant" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="depotDeResponse">
    <complexType/>
   </element>
   <element name="retraitDe">
    <complexType>
     <sequence>
      <element name="montant" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="retraitDeResponse">
    <complexType>
     <sequence>
      <element name="retraitDeReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="valeurDuSolde">
    <complexType/>
   </element>
   <element name="valeurDuSoldeResponse">
    <complexType>
     <sequence>
      <element name="valeurDuSoldeReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="depotDeResponse">

      <wsdl:part element="impl:depotDeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depotDeRequest">

      <wsdl:part element="impl:depotDe" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retraitDeRequest">

      <wsdl:part element="impl:retraitDe" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="valeurDuSoldeResponse">

      <wsdl:part element="impl:valeurDuSoldeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retraitDeResponse">

      <wsdl:part element="impl:retraitDeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="valeurDuSoldeRequest">

      <wsdl:part element="impl:valeurDuSolde" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Banque">

      <wsdl:operation name="depotDe">

         <wsdl:input message="impl:depotDeRequest" name="depotDeRequest">

       </wsdl:input>

         <wsdl:output message="impl:depotDeResponse" name="depotDeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retraitDe">

         <wsdl:input message="impl:retraitDeRequest" name="retraitDeRequest">

       </wsdl:input>

         <wsdl:output message="impl:retraitDeResponse" name="retraitDeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="valeurDuSolde">

         <wsdl:input message="impl:valeurDuSoldeRequest" name="valeurDuSoldeRequest">

       </wsdl:input>

         <wsdl:output message="impl:valeurDuSoldeResponse" name="valeurDuSoldeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BanqueSoapBinding" type="impl:Banque">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="depotDe">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="depotDeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="depotDeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retraitDe">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retraitDeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retraitDeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="valeurDuSolde">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="valeurDuSoldeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="valeurDuSoldeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BanqueService">

      <wsdl:port binding="impl:BanqueSoapBinding" name="Banque">

         <wsdlsoap:address location="http://localhost:8080/BanqueService/services/Banque"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
